@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body {
  background: #eaeaea;
  overflow-x: hidden;
  max-width: 1500px;
  margin: auto;
}
.navbar {
  width: 100%;
  padding: 30px 10% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}
.navbar .logo {
  font-size: 36px;
  font-weight: 700;
  color: #daae15;
  transition: 0.4s;
}
.navbar .logo span {
  display: inline-block;
  color: #3d3d3d;
  font-weight: 700;
  font-size: 36px;
}
.toggleMenu {
  background: url(/src/img/menu.png) no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  filter: invert(0.7);
  background-position: center;
  position: absolute;
  right: 5%;
  cursor: pointer;
  display: none;
}

.toggleMenu.active {
  background: url(/src/img/close.png) no-repeat;
  background-size: 25px;
  height: 40px;
  width: 40px;
  filter: invert(0.7);
  background-position: center;
  position: absolute;
  right: 5%;
  cursor: pointer;
  display: none;
  z-index: 2;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar ul li {
  margin: 0 16px;
}
.navbar ul li a {
  color: #3d3d3d;
  font-size: 15px;
  font-weight: 500;
  transition: 0.2s;
  position: relative;
}
.navbar ul li {
  transition: 0.3s;
}
.navbar ul li:hover {
  transform: translateY(-5px);
}
.navbar .social ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .social ul li a {
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transform: rotateZ(45deg);
  transition: 0.2s;
}
.navbar .social ul li a:hover {
  border-color: #3d3d3d;
}
.navbar .social ul li a i {
  color: #3d3d3d;
  transform: rotateZ(-45deg);
  font-size: 20px;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5% 0 10%;
  height: 100%;
}
.container .content {
  z-index: 3;
}
.container .content h1 {
  font-size: 42px;
  color: #3d3d3d;
  font-weight: 700;
  min-width: 100%;
}
.container .content h3 {
  color: #daae15;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 32px;
  transition: 0.4s;
}
.container .content p {
  width: 480px;
  font-size: 14px;
  font-weight: 500;
  color: #4e4e4e;
  margin-bottom: 30px;
}
.container .content .btn {
  padding: 10px 20px;
  position: relative;
  color: #eaeaea;
  background-color: #daae15;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.4s;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}
.container .content .btn:hover {
  transform: scale(1.2);
}

/* Image container */
.container .img-container {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .img-container img {
  width: 100%;
  position: absolute;
}
.cars {
  width: 100%;
  max-width: 1500px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cars .mark {
  width: 100%;
  height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cars .mark li {
  display: inline-block;
  transition: 0.3s;
}
.cars .mark a {
  color: #3d3d3d;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding: 0px 20px;
  transition: 0.3s;
}
.cars .mark li:hover {
  transform: translateY(-5px);
}

/* Responsive screen */
@media (min-width: 1400px) {
  .container,
  .cars .mark {
    margin: auto;
    transform: scale(1.3);
    width: 100%;
    padding: 0 15%;
    height: 100%;
  }
}
@media (max-width: 1100px) {
  .navbar {
    padding: 30px 5%;
  }
  .container {
    padding: 0 5%;
  }
  .container .content {
    width: 60vw;
  }
  .container .content h1 {
    font-size: 38px;
  }
  .container .content h3 {
    font-size: 34px;
  }
  .container .content p {
    max-width: 340px;
  }
}

@media (max-width: 980px) {
  .social {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .social ul {
    flex-direction: column;
  }
  .social ul li {
    margin-top: 20px;
  }
}
@media (max-width: 940px) {
  .container .content h1 {
    font-size: 32px;
  }
  .container .content h3 {
    font-size: 28px;
  }
}
@media (max-width: 820px) {
  .container {
    flex-direction: column;
  }
  .container .content {
    width: 100%;
    padding-top: 10%;
  }
  .container .content h1 {
    font-size: 44px;
  }
  .container .content h3 {
    font-size: 40px;
  }
  .container .content p {
    max-width: 440px;
    padding-right: 80px;
  }
  .container .content .btn {
    padding: 10px 40px;
  }
  .container .img-container img {
    width: 450px;
    margin-bottom: 0;
  }
  .cars {
    padding-bottom: 50px;
  }
}

@media (max-width: 700px) {
  .navbar ul {
    display: none;
  }
  .navbar .toggleMenu {
    display: inline-block;
  }
  .navbar .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    z-index: 1;
    visibility: hidden;
    transition: 0.3s;
    opacity: 0;
    background-color: #eaeaea;
  }
  .navbar .navigation.active {
    visibility: visible;
    opacity: 1;
  }
  .navbar .navigation li a {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}
@media (max-width: 630px) {
  .container .content h1 {
    font-size: 38px;
  }
  .container .content h3 {
    font-size: 32px;
  }
  .container .content p {
    max-width: 360px;
  }
  .container .content .btn {
    padding: 8px 16px;
    font-size: 14px;
  }
  .container .img-container img {
    max-width: 400px;
  }
  .cars .mark {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
  }
  .cars .mark a {
    font-size: 14px;
    padding: 0 8px;
  }
}
